.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightSide {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: flex-end;
}

.toDo {
  background-color: darkgray;
  display: flex;
  justify-content: flex-end;
}
